.slick-slide a{
    text-decoration: none;
}
.card {
    width: 18rem;
}
.card a{
}
.card-img-top{
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-title{
    
    text-decoration: none;
    color: #222;
}

.card-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   height: 70px;
   padding-bottom: 10px;
   text-decoration: none;
   color: #222;
}